#pupPic{
    width: 256px;
    height: 256px;
}
#userInput{
    margin-bottom: 20px;
}
.map {
    margin: 0 auto;
}

#maptext h1 {
    text-align: center;
}

#sunsetCol{
    margin-top: 40px;
    font-size: 24px;
}

#sunriseCol{
    margin-top: 40px;
    font-size: 24px;
}

.dogBtn {
    padding: 10px 20px;
    background: #f9f10f;
    color:rgb(11, 62, 127);
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
  }

  .dogImage {
    /* width:500px;
    height:300px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: 30%;
  }